@model AppDbContext 

@{ ViewData["Title"] = "Конструктор"; }
<div class="d-flex border border-dark rounded flex-wrap justify-content-center" style="background-color: #d6d6d6; gap: 20px; padding: 20px;">
        
</div>