@{
    ViewData["Title"] = "Main page";
}

<div class="d-flex flex-column border border-dark rounded" style="background-color: #d6d6d6; height: 800px; gap: 20px; padding: 20px; ">
    <div class="d-flex flex-shrink-1 h-25" style="gap:20px;">
        <div class="bg-white flex-fill border border-dark rounded"></div>
        <div class="bg-white flex-fill border border-dark rounded"></div>
        <div class="bg-white flex-fill border border-dark rounded"></div>
    </div>
    <div class="d-flex h-75" style="gap:20px;">
        <div class="bg-white flex-fill border border-dark rounded"></div>
        <div class="bg-white flex-fill border border-dark rounded"></div>
    </div>
</div>
