@using WebShop.Data.ViewModels;
@model LoginVM;

@{ 
    ViewData["Title"] = "Вход в аккаунт";
}

<div class="row">
    <div class="col-md-6 offset-3 border border-dark rounded" style="background-color: #d6d6d6;">
        <p>
            <h4>Вход в аккаунт</h4>
        </p>

        @if (TempData["Error"] != null)
        {
<div class="col-md-12 alert alert-danger">
    <span><b>Ошибка!</b> - @TempData["Error"] </span>
</div>            }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <input asp-for="EmailAddress" class="form-control" placeholder="E-Mail"/>
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Password" class="form-control" placeholder="Пароль" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Вход" />
                        <a class="btn btn-outline-secondary" asp-controller="Movies" asp-action="Index">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
