<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Вы успешно создали аккаунт!</h2>
        <p>Войдите в аккаунт используя данные указаные при регистрации.</p>
        <hr />
    </div>
</div>
